{
  "openapi": "3.0.4",
  "info": {
    "title": "SpedV API",
    "termsOfService": "https://www.sped-v.de/agb-richtlinien/",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.sped-v.de",
      "description": "SpedV REST API"
    }
  ],
  "paths": {
    "/v1/auth/clientkey": {
      "get": {
        "tags": [
          "Auth"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "refresh",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Live.JWTTokenAnswer"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Live.JWTTokenAnswer"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Live.JWTTokenAnswer"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/steamticket": {
      "get": {
        "tags": [
          "Auth"
        ],
        "parameters": [
          {
            "name": "ticket",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hwid",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pcname",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Live.JWTTokenAnswer"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Live.JWTTokenAnswer"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Live.JWTTokenAnswer"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/register/steamticket": {
      "get": {
        "tags": [
          "Auth"
        ],
        "parameters": [
          {
            "name": "ticket",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hwid",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pcname",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Live.JWTTokenAnswer"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Live.JWTTokenAnswer"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Live.JWTTokenAnswer"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/steamopenid": {
      "get": {
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/steamopenid/login": {
      "get": {
        "tags": [
          "Auth"
        ],
        "parameters": [
          {
            "name": "requestId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pcName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Live.JWTTokenAnswer"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Live.JWTTokenAnswer"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Live.JWTTokenAnswer"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/steamopenid/register": {
      "get": {
        "tags": [
          "Auth"
        ],
        "parameters": [
          {
            "name": "requestId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pcName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Live.JWTTokenAnswer"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Live.JWTTokenAnswer"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Live.JWTTokenAnswer"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/claims/jwt": {
      "get": {
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "jwtToken": [
              "JWTBearer"
            ]
          }
        ]
      }
    },
    "/v1/auth/claims/apikey": {
      "get": {
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "jwtToken": [
              "JWTBearer"
            ]
          },
          {
            "apikey": [
              "ApiKey"
            ]
          }
        ]
      }
    },
    "/v1/bankaccounts": {
      "get": {
        "tags": [
          "BankAccount"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Money.BankAccount"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Money.BankAccount"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Money.BankAccount"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "jwtToken": [
              "JWTBearer"
            ]
          },
          {
            "apikey": [
              "ApiKey"
            ]
          }
        ]
      }
    },
    "/v1/bankaccounts/{accountId}": {
      "get": {
        "tags": [
          "BankAccount"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Money.LiteBankAccount"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Money.LiteBankAccount"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Money.LiteBankAccount"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "jwtToken": [
              "JWTBearer"
            ]
          },
          {
            "apikey": [
              "ApiKey"
            ]
          }
        ]
      }
    },
    "/v1/bankaccounts/{iban}": {
      "get": {
        "tags": [
          "BankAccount"
        ],
        "parameters": [
          {
            "name": "iban",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Money.LiteBankAccount"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Money.LiteBankAccount"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Money.LiteBankAccount"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "jwtToken": [
              "JWTBearer"
            ]
          },
          {
            "apikey": [
              "ApiKey"
            ]
          }
        ]
      }
    },
    "/v1/bankaccounts/{accountId}/transfers": {
      "get": {
        "tags": [
          "BankAccount"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Money.MoneyTransfer"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Money.MoneyTransfer"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Money.MoneyTransfer"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "jwtToken": [
              "JWTBearer"
            ]
          },
          {
            "apikey": [
              "ApiKey"
            ]
          }
        ]
      }
    },
    "/v1/bankaccounts/{accountId}/transfers/daily": {
      "get": {
        "tags": [
          "BankAccount"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Money.MoneyTransferDay"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Money.MoneyTransferDay"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Money.MoneyTransferDay"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "jwtToken": [
              "JWTBearer"
            ]
          },
          {
            "apikey": [
              "ApiKey"
            ]
          }
        ]
      }
    },
    "/v1/bankaccounts/{accountId}/transfers/summary": {
      "get": {
        "tags": [
          "BankAccount"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Money.MoneyEÜRData"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Money.MoneyEÜRData"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Money.MoneyEÜRData"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "jwtToken": [
              "JWTBearer"
            ]
          },
          {
            "apikey": [
              "ApiKey"
            ]
          }
        ]
      }
    },
    "/v1/ownedbranches": {
      "get": {
        "tags": [
          "Branch"
        ],
        "parameters": [
          {
            "name": "includePartnerships",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Speditions.OwnedBranch"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Speditions.OwnedBranch"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Speditions.OwnedBranch"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "jwtToken": [
              "JWTBearer"
            ]
          },
          {
            "apikey": [
              "ApiKey"
            ]
          }
        ]
      }
    },
    "/v1/ownedbranches/{branchid}": {
      "get": {
        "tags": [
          "Branch"
        ],
        "parameters": [
          {
            "name": "branchid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Speditions.TruckBranchStatistic"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Speditions.TruckBranchStatistic"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Speditions.TruckBranchStatistic"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "jwtToken": [
              "JWTBearer"
            ]
          },
          {
            "apikey": [
              "ApiKey"
            ]
          }
        ]
      }
    },
    "/v1/ownedbranches/{branchid}/statistics": {
      "get": {
        "tags": [
          "Branch"
        ],
        "parameters": [
          {
            "name": "branchid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "startdate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "enddate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Speditions.TruckBranchStatistic"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Speditions.TruckBranchStatistic"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Speditions.TruckBranchStatistic"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "jwtToken": [
              "JWTBearer"
            ]
          },
          {
            "apikey": [
              "ApiKey"
            ]
          }
        ]
      }
    },
    "/v1/spareparts": {
      "get": {
        "tags": [
          "Branch"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Speditions.SparePart"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Speditions.SparePart"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Speditions.SparePart"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "jwtToken": [
              "JWTBearer"
            ]
          },
          {
            "apikey": [
              "ApiKey"
            ]
          }
        ]
      }
    },
    "/v1/spareparts/{sparepartid}": {
      "get": {
        "tags": [
          "Branch"
        ],
        "parameters": [
          {
            "name": "sparepartid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Speditions.SparePart"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Speditions.SparePart"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Speditions.SparePart"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "jwtToken": [
              "JWTBearer"
            ]
          },
          {
            "apikey": [
              "ApiKey"
            ]
          }
        ]
      }
    },
    "/v1/spareparts/{sparepartid}/providers": {
      "get": {
        "tags": [
          "Branch"
        ],
        "parameters": [
          {
            "name": "sparepartid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Speditions.SparePart"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Speditions.SparePart"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Speditions.SparePart"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "jwtToken": [
              "JWTBearer"
            ]
          },
          {
            "apikey": [
              "ApiKey"
            ]
          }
        ]
      }
    },
    "/v1/chats": {
      "get": {
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.ChatSystem.Chat"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.ChatSystem.Chat"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.ChatSystem.Chat"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "jwtToken": [
              "JWTBearer"
            ]
          },
          {
            "apikey": [
              "ApiKey"
            ]
          }
        ]
      }
    },
    "/v1/spedchat": {
      "get": {
        "tags": [
          "Chat"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Objects.ChatSystem.Chat"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Objects.ChatSystem.Chat"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Objects.ChatSystem.Chat"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "jwtToken": [
              "JWTBearer"
            ]
          },
          {
            "apikey": [
              "ApiKey"
            ]
          }
        ]
      }
    },
    "/v1/chat/{chatId}": {
      "get": {
        "tags": [
          "Chat"
        ],
        "parameters": [
          {
            "name": "chatId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.ChatSystem.Chat"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.ChatSystem.Chat"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.ChatSystem.Chat"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "jwtToken": [
              "JWTBearer"
            ]
          },
          {
            "apikey": [
              "ApiKey"
            ]
          }
        ]
      }
    },
    "/v1/chat/{chatId}/messages": {
      "get": {
        "tags": [
          "Chat"
        ],
        "parameters": [
          {
            "name": "chatId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "lastMessage",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.ChatSystem.ChatMessage"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.ChatSystem.ChatMessage"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.ChatSystem.ChatMessage"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "jwtToken": [
              "JWTBearer"
            ]
          },
          {
            "apikey": [
              "ApiKey"
            ]
          }
        ]
      }
    },
    "/v1/kontor/{game}/trailers": {
      "get": {
        "tags": [
          "Kontor"
        ],
        "parameters": [
          {
            "name": "game",
            "in": "path",
            "description": "\n\n0 = ETS2\n\n1 = ATS\n\n-1 = NotSet",
            "required": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Enums.GameEnum"
                }
              ],
              "x-enumNames": [
                "ETS2",
                "ATS",
                "NotSet"
              ]
            },
            "x-enumNames": [
              "ETS2",
              "ATS",
              "NotSet"
            ]
          },
          {
            "name": "includePartnerships",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Kontor.Trailer"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Kontor.Trailer"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Kontor.Trailer"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "jwtToken": [
              "JWTBearer"
            ]
          },
          {
            "apikey": [
              "ApiKey"
            ]
          }
        ]
      }
    },
    "/v1/kontor/{game}/jobs/available": {
      "get": {
        "tags": [
          "Kontor"
        ],
        "parameters": [
          {
            "name": "game",
            "in": "path",
            "description": "\n\n0 = ETS2\n\n1 = ATS\n\n-1 = NotSet",
            "required": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Enums.GameEnum"
                }
              ],
              "x-enumNames": [
                "ETS2",
                "ATS",
                "NotSet"
              ]
            },
            "x-enumNames": [
              "ETS2",
              "ATS",
              "NotSet"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Kontor.JobOffer"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Kontor.JobOffer"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Kontor.JobOffer"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "jwtToken": [
              "JWTBearer"
            ]
          },
          {
            "apikey": [
              "ApiKey"
            ]
          }
        ]
      }
    },
    "/v1/kontor/{game}/parts/available": {
      "get": {
        "tags": [
          "Kontor"
        ],
        "parameters": [
          {
            "name": "game",
            "in": "path",
            "description": "\n\n0 = ETS2\n\n1 = ATS\n\n-1 = NotSet",
            "required": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Enums.GameEnum"
                }
              ],
              "x-enumNames": [
                "ETS2",
                "ATS",
                "NotSet"
              ]
            },
            "x-enumNames": [
              "ETS2",
              "ATS",
              "NotSet"
            ]
          },
          {
            "name": "includePartnerships",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Kontor.JobPart"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Kontor.JobPart"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Kontor.JobPart"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "jwtToken": [
              "JWTBearer"
            ]
          },
          {
            "apikey": [
              "ApiKey"
            ]
          }
        ]
      }
    },
    "/v1/kontor/{game}/jobs": {
      "get": {
        "tags": [
          "Kontor"
        ],
        "parameters": [
          {
            "name": "game",
            "in": "path",
            "description": "\n\n0 = ETS2\n\n1 = ATS\n\n-1 = NotSet",
            "required": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Enums.GameEnum"
                }
              ],
              "x-enumNames": [
                "ETS2",
                "ATS",
                "NotSet"
              ]
            },
            "x-enumNames": [
              "ETS2",
              "ATS",
              "NotSet"
            ]
          },
          {
            "name": "showFinished",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Kontor.Job"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Kontor.Job"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Kontor.Job"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "jwtToken": [
              "JWTBearer"
            ]
          },
          {
            "apikey": [
              "ApiKey"
            ]
          }
        ]
      }
    },
    "/v1/kontor/{game}/jobs/{jobid}": {
      "get": {
        "tags": [
          "Kontor"
        ],
        "parameters": [
          {
            "name": "game",
            "in": "path",
            "description": "\n\n0 = ETS2\n\n1 = ATS\n\n-1 = NotSet",
            "required": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Enums.GameEnum"
                }
              ],
              "x-enumNames": [
                "ETS2",
                "ATS",
                "NotSet"
              ]
            },
            "x-enumNames": [
              "ETS2",
              "ATS",
              "NotSet"
            ]
          },
          {
            "name": "jobid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Kontor.Job"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Kontor.Job"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Kontor.Job"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "jwtToken": [
              "JWTBearer"
            ]
          },
          {
            "apikey": [
              "ApiKey"
            ]
          }
        ]
      }
    },
    "/v1/kontor/{game}/parts": {
      "get": {
        "tags": [
          "Kontor"
        ],
        "parameters": [
          {
            "name": "game",
            "in": "path",
            "description": "\n\n0 = ETS2\n\n1 = ATS\n\n-1 = NotSet",
            "required": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Enums.GameEnum"
                }
              ],
              "x-enumNames": [
                "ETS2",
                "ATS",
                "NotSet"
              ]
            },
            "x-enumNames": [
              "ETS2",
              "ATS",
              "NotSet"
            ]
          },
          {
            "name": "showFinished",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "includePartnerships",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Kontor.JobPart"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Kontor.JobPart"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Kontor.JobPart"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "jwtToken": [
              "JWTBearer"
            ]
          },
          {
            "apikey": [
              "ApiKey"
            ]
          }
        ]
      }
    },
    "/v1/kontor/{game}/parts/{partid}": {
      "get": {
        "tags": [
          "Kontor"
        ],
        "parameters": [
          {
            "name": "game",
            "in": "path",
            "description": "\n\n0 = ETS2\n\n1 = ATS\n\n-1 = NotSet",
            "required": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Enums.GameEnum"
                }
              ],
              "x-enumNames": [
                "ETS2",
                "ATS",
                "NotSet"
              ]
            },
            "x-enumNames": [
              "ETS2",
              "ATS",
              "NotSet"
            ]
          },
          {
            "name": "partid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Kontor.JobPart"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Kontor.JobPart"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Kontor.JobPart"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "jwtToken": [
              "JWTBearer"
            ]
          },
          {
            "apikey": [
              "ApiKey"
            ]
          }
        ]
      }
    },
    "/v1/kontor/{game}/parts/{partid}/jobs": {
      "get": {
        "tags": [
          "Kontor"
        ],
        "parameters": [
          {
            "name": "game",
            "in": "path",
            "description": "\n\n0 = ETS2\n\n1 = ATS\n\n-1 = NotSet",
            "required": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Enums.GameEnum"
                }
              ],
              "x-enumNames": [
                "ETS2",
                "ATS",
                "NotSet"
              ]
            },
            "x-enumNames": [
              "ETS2",
              "ATS",
              "NotSet"
            ]
          },
          {
            "name": "partid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Kontor.Job"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Kontor.Job"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Kontor.Job"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "jwtToken": [
              "JWTBearer"
            ]
          },
          {
            "apikey": [
              "ApiKey"
            ]
          }
        ]
      }
    },
    "/v1/live/positions": {
      "get": {
        "tags": [
          "Live"
        ],
        "parameters": [
          {
            "name": "spedId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "includeSinglePlayer",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.ServerCommunication.Helper.REST.UserPosition"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.ServerCommunication.Helper.REST.UserPosition"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.ServerCommunication.Helper.REST.UserPosition"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/live/onlineusers": {
      "get": {
        "tags": [
          "Live"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Live.ConvoyInfo"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Live.ConvoyInfo"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Live.ConvoyInfo"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "jwtToken": [
              "JWTBearer"
            ]
          },
          {
            "apikey": [
              "ApiKey"
            ]
          }
        ]
      }
    },
    "/v1/live/onlineuser": {
      "get": {
        "tags": [
          "Live"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Live.ConvoyInfo"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Live.ConvoyInfo"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Live.ConvoyInfo"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "jwtToken": [
              "JWTBearer"
            ]
          },
          {
            "apikey": [
              "ApiKey"
            ]
          }
        ]
      }
    },
    "/v1/location/{query}": {
      "get": {
        "tags": [
          "Location"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Nominatim.API.Models.GeocodeResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Nominatim.API.Models.GeocodeResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Nominatim.API.Models.GeocodeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/location/realroute/{startCityId}/{destinationCityId}": {
      "get": {
        "tags": [
          "Location"
        ],
        "parameters": [
          {
            "name": "startCityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "destinationCityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Maps.RealRoute"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Maps.RealRoute"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Maps.RealRoute"
                }
              }
            }
          }
        }
      }
    },
    "/v1/location/scsmap/distance/{startBranchId}/{destinationBranchId}": {
      "get": {
        "tags": [
          "Location"
        ],
        "parameters": [
          {
            "name": "startBranchId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "destinationBranchId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Live.SGMDistance"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Live.SGMDistance"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Live.SGMDistance"
                }
              }
            }
          }
        }
      }
    },
    "/v1/maintenance/truck": {
      "get": {
        "tags": [
          "Maintenance"
        ],
        "parameters": [
          {
            "name": "showAll",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Speditions.TruckMaintenance"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Speditions.TruckMaintenance"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Speditions.TruckMaintenance"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "jwtToken": [
              "JWTBearer"
            ]
          },
          {
            "apikey": [
              "ApiKey"
            ]
          }
        ]
      }
    },
    "/v1/maintenance/trailer": {
      "get": {
        "tags": [
          "Maintenance"
        ],
        "parameters": [
          {
            "name": "showAll",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Kontor.TrailerMaintenance"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Kontor.TrailerMaintenance"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Kontor.TrailerMaintenance"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "jwtToken": [
              "JWTBearer"
            ]
          },
          {
            "apikey": [
              "ApiKey"
            ]
          }
        ]
      }
    },
    "/v1/maps": {
      "get": {
        "tags": [
          "Maps"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Maps.Map"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Maps.Map"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Maps.Map"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/maps/{mapId}/cities": {
      "get": {
        "tags": [
          "Maps"
        ],
        "parameters": [
          {
            "name": "mapId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Maps.City"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Maps.City"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Maps.City"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/maps/{mapId}/companycities": {
      "get": {
        "tags": [
          "Maps"
        ],
        "parameters": [
          {
            "name": "mapId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Maps.CompanyCity"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Maps.CompanyCity"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Maps.CompanyCity"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/maps/{mapId}/harbors": {
      "get": {
        "tags": [
          "Maps"
        ],
        "parameters": [
          {
            "name": "mapId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Maps.Harbor"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Maps.Harbor"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Maps.Harbor"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/maps/{mapId}/harbors/{harborId}/ferries": {
      "get": {
        "tags": [
          "Maps"
        ],
        "parameters": [
          {
            "name": "mapId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "harborId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Maps.Ferry"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Maps.Ferry"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Maps.Ferry"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/harbors": {
      "get": {
        "tags": [
          "Maps"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Maps.Harbor"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Maps.Harbor"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Maps.Harbor"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/ferries": {
      "get": {
        "tags": [
          "Maps"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Maps.Ferry"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Maps.Ferry"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Maps.Ferry"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/countries": {
      "get": {
        "tags": [
          "Maps"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Maps.Country"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Maps.Country"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Maps.Country"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/companies": {
      "get": {
        "tags": [
          "Maps"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Maps.Company"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Maps.Company"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Maps.Company"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/companies/{compid}": {
      "get": {
        "tags": [
          "Maps"
        ],
        "parameters": [
          {
            "name": "compid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Maps.Company"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Maps.Company"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Maps.Company"
                }
              }
            }
          }
        }
      }
    },
    "/v1/companies/{compid}/branches": {
      "get": {
        "tags": [
          "Maps"
        ],
        "parameters": [
          {
            "name": "compid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Maps.CompanyCity"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Maps.CompanyCity"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Maps.CompanyCity"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/companycategories": {
      "get": {
        "tags": [
          "Maps"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Maps.CompanyCategory"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Maps.CompanyCategory"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Maps.CompanyCategory"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/companycategories/{compid}": {
      "get": {
        "tags": [
          "Maps"
        ],
        "parameters": [
          {
            "name": "compid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Maps.CompanyCategory"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Maps.CompanyCategory"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Maps.CompanyCategory"
                }
              }
            }
          }
        }
      }
    },
    "/v1/omsi/maps": {
      "get": {
        "tags": [
          "Omsi"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.OMSI.Map"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.OMSI.Map"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.OMSI.Map"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/omsi/maps/{mapid}": {
      "get": {
        "tags": [
          "Omsi"
        ],
        "parameters": [
          {
            "name": "mapid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Objects.OMSI.Map"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Objects.OMSI.Map"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Objects.OMSI.Map"
                }
              }
            }
          }
        }
      }
    },
    "/v1/omsi/maps/{mapid}/busstops": {
      "get": {
        "tags": [
          "Omsi"
        ],
        "parameters": [
          {
            "name": "mapid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.OMSI.BusStop"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.OMSI.BusStop"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.OMSI.BusStop"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/omsi/maps/{mapid}/destinations": {
      "get": {
        "tags": [
          "Omsi"
        ],
        "parameters": [
          {
            "name": "mapid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.OMSI.Destination"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.OMSI.Destination"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.OMSI.Destination"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/omsi/maps/{mapid}/tours": {
      "get": {
        "tags": [
          "Omsi"
        ],
        "parameters": [
          {
            "name": "mapid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.OMSI.Tour"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.OMSI.Tour"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.OMSI.Tour"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/omsi/maps/{mapid}/tourtrips/{date}": {
      "get": {
        "tags": [
          "Omsi"
        ],
        "parameters": [
          {
            "name": "mapid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "date",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timediff",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 2
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.OMSI.Tour"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.OMSI.Tour"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.OMSI.Tour"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/omsi/maps/{mapid}/tours/{tourid}": {
      "get": {
        "tags": [
          "Omsi"
        ],
        "parameters": [
          {
            "name": "mapid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "tourid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Objects.OMSI.Tour"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Objects.OMSI.Tour"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.API.Objects.OMSI.Tour"
                }
              }
            }
          }
        }
      }
    },
    "/v1/omsi/maps/{mapid}/tours/{tourid}/trips": {
      "get": {
        "tags": [
          "Omsi"
        ],
        "parameters": [
          {
            "name": "mapid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "tourid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "baseDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.OMSI.TourTrip"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.OMSI.TourTrip"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.OMSI.TourTrip"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/omsi/maps/{mapid}/trips": {
      "get": {
        "tags": [
          "Omsi"
        ],
        "parameters": [
          {
            "name": "mapid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.OMSI.TourTrip"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.OMSI.TourTrip"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.OMSI.TourTrip"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/omsi/maps/{mapid}/stationlinks": {
      "get": {
        "tags": [
          "Omsi"
        ],
        "parameters": [
          {
            "name": "mapid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.OMSI.StationLink"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.OMSI.StationLink"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.OMSI.StationLink"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/omsi/driventrips": {
      "get": {
        "tags": [
          "Omsi"
        ],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.OMSI.DrivenTrip"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.OMSI.DrivenTrip"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.OMSI.DrivenTrip"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "jwtToken": [
              "JWTBearer"
            ]
          },
          {
            "apikey": [
              "ApiKey"
            ]
          }
        ]
      }
    },
    "/v1/permissions": {
      "get": {
        "tags": [
          "Permissions"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Speditions.Permission"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Speditions.Permission"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.API.Objects.Speditions.Permission"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "jwtToken": [
              "JWTBearer"
            ]
          },
          {
            "apikey": [
              "ApiKey"
            ]
          }
        ]
      }
    },
    "/v1/simrail/server": {
      "get": {
        "tags": [
          "SimRail"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.Server.Objects.SimRail.SimRailServer"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.Server.Objects.SimRail.SimRailServer"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.Server.Objects.SimRail.SimRailServer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/simrail/server/{id}": {
      "get": {
        "tags": [
          "SimRail"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.Server.Objects.SimRail.SimRailServer"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.Server.Objects.SimRail.SimRailServer"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.Server.Objects.SimRail.SimRailServer"
                }
              }
            }
          }
        }
      }
    },
    "/v1/simrail/server/{id}/trains": {
      "get": {
        "tags": [
          "SimRail"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.Server.Objects.SimRail.SimRailActiveTrain"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.Server.Objects.SimRail.SimRailActiveTrain"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.Server.Objects.SimRail.SimRailActiveTrain"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/simrail/server/{id}/trains/{number}": {
      "get": {
        "tags": [
          "SimRail"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.Server.Objects.SimRail.SimRailActiveTrain"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.Server.Objects.SimRail.SimRailActiveTrain"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.Server.Objects.SimRail.SimRailActiveTrain"
                }
              }
            }
          }
        }
      }
    },
    "/v1/simrail/server/{id}/dispatchstations": {
      "get": {
        "tags": [
          "SimRail"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.Server.Objects.SimRail.SimRailDispatchStation"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.Server.Objects.SimRail.SimRailDispatchStation"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FPH.SpedV.Server.Objects.SimRail.SimRailDispatchStation"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/simrail/server/{id}/dispatchstations/{name}": {
      "get": {
        "tags": [
          "SimRail"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.Server.Objects.SimRail.SimRailDispatchStation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FPH.SpedV.Server.Objects.SimRail.SimRailDispatchStation"
                }
              },
              "text/json": {
                "schema": {
[...]
